# List Comprehensions

In [1]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
print([[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1)if i+j+k !=n])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

# Find the Runner-Up Score!

In [7]:
n = int(input())
arr = map(int, input().split())
scores=set(arr)
sorted_scores=sorted(scores)
sorted_scores_list=list(sorted_scores)
print(sorted_scores_list[-2])

5
2 3 6 6 5
5

# Nested Lists

In [8]:
students=[]
for _ in range(int(input())):
    name = input()
    score = float(input())    
    students.append([name,score]) 
x = 99999
for i in range(len(students)):
    if x > float(students[i][1]):
        x = float(students[i][1]) 
y = 999999
for i in range(len(students)):
    if float(students[i][1]) > float(x) and y > float(students[i][1]):
        y = float(students[i][1])  
runner = []
for i in range(len(students)):
    if float(students[i][1]) == float(y):
        runner.append(students[i][0])
runner = sorted(runner)

for i in range(len(runner)):
    print(runner[i])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

# Finding the percentage

In [9]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
if query_name in student_marks:
    avg = (student_marks[query_name][0]+student_marks[query_name][1]+student_marks[query_name][2])/3
    print('%.2f'%avg)
else:
        print("Student name not found")

3
Krishna 67 68 69
Arjun 70 98 63
Malavika 85 90 95
Arjun
77.00

# Lists

In [10]:
N = int(input())
List=[]
for i in range(N):
    choice=input().split(" ")
        
    if choice[0]=='insert':
        List.insert(int(choice[1]),int(choice[2]))
            
    elif choice[0]=='print':
        print(List)
            
    elif choice[0]=='remove':
        List.remove(int(choice[1]))
            
    elif choice[0]=='append':
        List.append(int(choice[1]))
            
    elif choice[0]=='sort':
        List.sort()
            
    elif choice[0]=='pop':
        List.pop()
            
    elif choice[0]=='reverse':
        List.reverse()
            
    else:
        print("Invalid Choice")

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

# Tuples

In [13]:
n = int(input())
integer_list = map(int, input().split())
t=tuple(integer_list)
print(hash(t))

2
1 2
-3550055125485641917

# Introduction to Sets

In [14]:
from __future__ import division

In [19]:
def average(array):
    # your code goes here
    s=set(arr)
    total=sum(s)
    avg=total/len(s)
    return '%.3f'%avg
n = int(input())
arr = map(int, input().split())
result = average(arr)
print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

# Symmetric Difference

In [24]:
M=int(input())
Set_M=set(map(int, input().split()))
N=int(input())
Set_N=set(map(int, input().split()))
a=Set_M.difference(Set_N)
b=Set_N.difference(Set_M)
c=a.union(b)
d=sorted(c)
for i in d:
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

# No Idea!

In [25]:
happiness=0
n,m=map(int,input().split())
elements=map(int, input().split())
set_a=set(map(int, input().split()))
set_b=set(map(int, input().split()))
for i in elements:
    if i in set_a:
        happiness+=1
    elif i in set_b:
        happiness-=1
print(happiness)

3 2
1 5 3
3 1
5 7
1

# Set.add()

In [26]:
N=int(input())
country=set()
for i in range(N):
    country.add(input())
print(len(country))

7
UK
China
Greece
India
China
USA
UK
5

# Set .discard(), .remove() & .pop()

In [27]:
n = int(input())
s = set(map(int, input().split()))
num_of_commands=int(input())
for i in range(num_of_commands):
    command=input().split()
    
    if command[0]=='pop':
        s.pop()
        
    elif command[0]=='remove':
        if int(command[1]) in s:
            s.remove(int(command[1]))
        else:
            pass
        
    elif command[0]=='discard':
        s.discard(int(command[1]))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

# Set .union() Operation

In [28]:
m=int(input())
E=set(map(int,input().split()))
n=int(input())
F=set(map(int,input().split()))
s=E.union(F)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

# Set .intersection() Operation

In [29]:
m=int(input())
E=set(map(int,input().split()))
n=int(input())
F=set(map(int,input().split()))
s=E.intersection(F)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

# Set .difference() Operation

In [30]:
m=int(input())
E=set(map(int,input().split()))
n=int(input())
F=set(map(int,input().split()))
s=E.difference(F)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

# Set .symmetric_difference() Operation

In [31]:
m=int(input())
E=set(map(int,input().split()))
n=int(input())
F=set(map(int,input().split()))
s=E.symmetric_difference(F)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

# Set Mutations

In [32]:
input()
A=set(map(int,input().split()))
n=int(input())

for i in range(0,n):
   
    command=input().split()
    S=set(map(int,input().split()))
    if command[0]=="intersection_update":
        A.intersection_update(S)
    if command[0]=="update":
        A.update(S)
    if command[0]=="difference_update":
        A.difference_update(S) 
    if command[0]=="symmetric_difference_update":
        A.symmetric_difference_update(S)
        
    
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

# The Captain's Room

In [1]:
K=int(input())
Room_Number=input().split()
Room_Number_Set=set(Room_Number)
for x in Room_Number_Set:
    count = 0
    for i in Room_Number:
        if x == i:
            count += 1
            if count > 1:
                break
    if count == 1:
        print (x)
        break

5
1 1 5 7 9 6 5 7 9 9 7 5 1 7
6

# Check Subset

In [2]:
T=int(input())
l=[]
for i in range(T):
    n_A=int(input())
    A=set(map(int, input().split()))
    n_B=int(input())
    B=set(map(int,input().split()))
    if A.issubset(B):
        l.append(True)
    else:
        l.append(False)
for i in l:
    print(i)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2
True
False
False

# Check Strict Superset

In [3]:
A=set(map(int,input().split()))
N=int(input())
Count=0
for i in range(N):
    S=set(map(int,input().split()))
    if A.issuperset(S):
        Count+=1
if Count==N:
    print("True")
else:
    print("False")

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False